<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#">
    <p class="signup-text">Sign Up!</p>

    <fieldset class="form-group">
        <input type="text" class="form-control" id="fname" name="firstName" placeholder="First Name" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="text" class="form-control" id="mname" name="middleName" placeholder="Middle Name Optional">
    </fieldset>
    <fieldset class="form-group">
        <input type="text" class="form-control" id="lname" name="lastName" placeholder="Last Name" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="date" class="form-control" id="dob" name="dateOfBirth" placeholder="yyyy-dd-mm" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="email" class="form-control" id="email" name="emailAddress" placeholder="Last Name" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="password" class="form-control" id="pass1" placeholder="Enter Password">
    </fieldset>
    <fieldset class="form-group">
        <input type="password" class="form-control" id="pass2" placeholder="Confirm Password">
    </fieldset>
    <p>Forgot Password?</p>
    <a href="/"> <button  style="background-color: transparent">
        <p> Already have an account? Login here</p>
    </button></a>
    <button class="btn-secondary" type="submit">Subit</button>
    <button class="btn-secondary" type="reset">Cancel</button>
</form>
</body>
</html>